<form action="/answer">
  <p>Speak to your coach</p>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <button id="go" class="btn" type="submit">
    Go on
  </button>
</form>

